
:root {

    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --footer-background-color: #2F303A;
    --button-background-color: #F5F4FA;
}

body {
    background-color: #fff;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
}

/* Containers */

.header {
    border-bottom: 1px solid #ECECEC;
}

.section {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 94px;
    padding-bottom: 94px;

}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container.section {
    padding-top: 0;
    padding-bottom: 0;
}

/* LOGO */
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.2;

    margin-top: 24px;
    margin-bottom: 25px;
}

.logo > .header-logo {
    color: var(--title-text-color);
}

.logo > .footer-logo {
    color: var(--white-color)
}

/* Navigation */
.nav-container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 85px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav li + li {
    margin-left: 50px;
}

.site-nav-link {
    color: var(--title-text-color)
}

.site-nav-link:hover, .site-nav-link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

/* Contacts */
.contacts {
    display: flex;
    margin-left: auto;
}
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color)
}

.contacts-link + .contacts-link {
    margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* Hero */
.section-hero {
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
}

.hero-text {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.button {
    display: inline-block;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-align: center;

    background-color: var(--accent-color);
    color: var(--white-color);
    
}

.hidden_header {
    display: none;
}

/* Общая стилизация заголовков h2 */
 .section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    color: var(--title-text-color);

 }

/* Идейные принципы */

.principles-section section {
    
    border-bottom: 1px solid #ECECEC;
    padding-right: 0;
    padding-left: 0;
    width: 1170px;
}

/* .grey-line {
    border-bottom: 1px solid #ECECEC;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
} */

.principles h3 {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 30px;
}

.principles p {
    font-size: 14px;
    line-height: 1.7;

    margin-top: 10px;
    display: inline-block;
}

.principles {
    display: flex;
}

.principles li + li {
    margin-left: 30px;
}

.principles-link {
    width: 270px;
    height: 120px;
    text-align: center;

    background-color: #F5F4FA;
}

/* Чем мы занимаемся */
.activities {
    display: flex;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.activities li + li {
    margin-left: 30px;
}

.activities h3 {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
}

/* Наша команда */

.our-team {
    background-color: #F5F4FA;
    text-align: center;
}

.our-team ul {
    display: flex;
}

.team-card + .team-card {
    margin-left: 30px;
}

.team-card {
    background-color: var(--white-color);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    
    color: var(--title-text-color);

    margin-top: 50px;
}

.profession {
    font-size: 16px;
    line-height: 1.2;
    
    margin-top: 10px;
}

.team-card .social-links {
    margin-top: 16px;
    margin-bottom: 24px;
}

.social-links {
    margin-right: auto;
    margin-left: auto;
    
    display: flex;
}

.social-links a {
    display: inline-block;
}

.social-links li {
    display: flex;
    width: 44px;
    height: 44px;
}

.social-links li+li {
    margin-left: 10px;
}


/* Страница Портфолио */
/* Описание радиокнопок */
.filter-box {
    display: flex;
    justify-content: center;
    
}

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--title-text-color);
    background-color: #F5F4FA;

    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.filter + filter {
    margin-left: 8px;
}

.filter:hover,
.filter:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.portfolio li {
    border: 1px solid #EEEEEE;
}

.portfolio h2 {

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    display: inline-block;
    margin-left: 24px;
    margin-top: 20px;
}

.portfolio li:not(:nth-child(3n+1)) {
    margin-left: 30px;
}

.portfolio li:nth-child(n+3){
    margin-top: 30px;
}

.description {
    font-size: 16px;
    line-height: 1.9;
    color: var(--main-text-color);

    display: block;
    margin-top: 4px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.detailed-description {
    color: var(--white-color);
    background-color: var(--accent-color);

    display: none;
}

/* Постоянные клиенты */

.clients ul {
    display: flex;
    margin-top: 50px;
    
}

.clients li {
    display: block;
    width: 170px;
    height: 90px;
    
}
.clients li + li {
   
    margin-left: 30px;
    
}


/* Футер */
.page-footer {
    background-color: #2F303A;
}

.address {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    margin-top: 10px;
}

.address a {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-top: 9px;
}

.address a:hover,
.address a:focus {
    color: var(--accent-color);
}

.page-footer .section {
    width: 1170px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 28px;
    padding-top: 48px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.join_us .social-links {
    margin-top: 21px;
}

.join_us b {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.copyright {
    display: block;
    margin-top: 18px;
    margin-bottom: 21px;

    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);

}

.portfolio-main .section {

}
